@model WebCarSharing.Models.Offers.OfferView

@{
    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Full offer description</h2>

<div>
    <hr />
    
    <div class="offer">
        <div class="image-container">
            <img src="@Model.Image" class="offer-image">
        </div>
        <div class="desc-container">
            <div class="offer-model">
                @Model.Model
            </div>
            <div class="offer-type">
                Type: @Model.Type
            </div>
            <div class="offer-year">
                Year: @Model.Year
            </div>
            <div class="offer-price">
                Daily cost: @Model.DailyCost &#36;
            </div>
            <div class="offer-description">
                Description: @Model.Description
            </div>
        </div>
    </div>
    
    @Html.ActionLink("Take a rent", "CreateRent", "Rent", new{offerIndex = Model.Id}, new { @class = "btn btn-default", style="margin-bottom: 20px;"})
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index", "Home", null, new{ @class = "btn btn-default"})
</p>
