@model WebCarSharing2.Models.Rents.RentView

@{
    
    ViewBag.Title = "Sharing cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Sharing cost</h2>
<hr />
<div>
    <div class="" style="font-size: 20px;">
        <div class="">
            <div class="">
                <b>Customer e-mail:</b> @Model.Customer.Email
            </div>
            @if (Model.InsuranceCase)
            {
                <div class="offer-type">
                    <b>Insurance case:</b> &#9989;
                </div>
            }
            else
            {
                <div class="offer-type">
                    <b>Insurance case:</b> &#10060;
                </div>
            }
            <div class="offer-year">
                <b>Start date:</b> @Model.StartDate
            </div>
            <div class="offer-price">
                <b>End date:</b> @Model.EndDate 
            </div>
            <div class="offer-description">
                <b>Cost:</b> @Model.Cost &#36;
            </div>
        </div>
    </div>
        
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home",null,new { @class = "btn btn-default", style="margin-top: 20px;"})
    
</p>
