@using WebCarSharing2.HtmlHelpers
@using WebCarSharing2.Models.Offers
@model WebCarSharing2.Models.Customer.CustomersView

@{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Clients</h2>

@using (Html.BeginForm("AllCustomers", "Customer", FormMethod.Post, new { id = "dropDownForm" }))
{
    ParametersView parameters = new ParametersView();
    @Html.HiddenFor(model => parameters.Page, new { id = "searchPage" })
}

<hr style="color: gray; height: 2px;" />
<div class="line">
    @foreach (var customer in Model.Customers)
    {
        
        <div class="">
            <div class="model">
                @customer.Id
            </div>
            <div class="type">
                Name: @customer.FirstName
            </div>
            <div class="year">
                Surname: @customer.Surname
            </div>
            <div class="price">
                E-mail: @customer.Email
            </div>
            <div class="CustomerDetails">
                @Html.ActionLink("View details", "Index", "Home", new { customerIndex = customer.Id }, new { @class = "btn btn-default" })

            </div>
        </div>

    }
</div>

<div class="pager">
    @Html.PageLinksUsingSubmitForm(Model.PagingInfo, "javascrt : PageClick")
</div>

<script>
    function PageClick(page) {
        var searchPage = document.getElementById("searchPage");
        searchPage.value = page;
        var invokeSubmit = document.getElementById("dropDownForm");
        invokeSubmit.submit();
    }
</script>