@using WebCarSharing2.HtmlHelpers
@using WebCarSharing2.Models.Offers
@model WebCarSharing2.Models.Customer.CustomersView

@{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <h2>All Clients</h2>

    @using (Html.BeginForm("AllCustomers", "Customer", FormMethod.Post, new { id = "dropDownForm" }))
    {
        ParametersView parameters = new ParametersView();
        @Html.HiddenFor(model => parameters.Page, new { id = "searchPage" })
    }

    <hr style="color: gray; height: 2px;" />
    <div class="customers">
        @foreach (var customer in Model.Customers)
        {

            <div class="customer">
                <div class="customerId">
                    @customer.Id
                </div>
                <div class="customerName">
                    <div class="firstName">
                        Name: @customer.FirstName
                    </div>
                    <div class="surname">
                        Surname: @customer.Surname
                    </div>
                </div>
                <div class="email">
                    E-mail: @customer.Email
                </div>
                <div class="customerDetails">
                    @Html.ActionLink("View details", "CustomerDetails", "Customer", new { customerIndex = customer.Id }, new { @class = "btn btn-default" })

                </div>
            </div>

        }
    </div>
</div>
    <div class="pager">
        @Html.PageLinksUsingSubmitForm(Model.PagingInfo, "javascrt : PageClick")
    </div>

    <script>
        function PageClick(page) {
            var searchPage = document.getElementById("searchPage");
            searchPage.value = page;
            var invokeSubmit = document.getElementById("dropDownForm");
            invokeSubmit.submit();
        }
    </script>
